.modal{
	padding: 30px 20px 25px;
	width: 420px;
	height: 336px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: 0 16px 32px 0 rgba(35, 39, 51, .1);
	overflow-y: scroll;
	background-color: #fff;

	position: absolute;
	top: 40%;
	left: 30%;
	z-index: 5;


	&__input{
		width: 360px;
		height: 47px;
		padding: 10px 30px 10px 16px;
		border: 1px solid #c1c1c1;
		border-radius: 4px;

		font-size: 2.4rem;
		color: #c1c1c1;
		margin-bottom: 18px;
	}

	&__item{
		display: flex;
		align-items: center;
		margin-bottom: 32px;
	}

	&__item:last-child{
		margin-bottom: 0;
	}

	&__btn{
		width: 20px;
		height: 20px;
		margin-right: 18px;
	}

	&__btn-img{
		width: 100%;
	}

	&__item-wrapper{
		display: flex;
		align-items: center;
		flex: 1;
	}

	&__item-img{
		display: inline-block;
		width: 24px;
		height: 50px;
		margin-right: 23px;
	}

	&__item-title{
		display: inline-block;
		font-size: 1.8rem;
		font-weight: 400;
		color: #000;
		flex: 1;
	}
}

.modal::-webkit-scrollbar {
	width: 30px;
}

.modal::-webkit-scrollbar-track {
	background-color: #fff;
}

.modal::-webkit-scrollbar-thumb {
	background-color: #e3e3e3;
	border-radius: 4px;
	border: 12px solid #fff;
}